3 
100 
26 
20 
2 
16 5 
-1 -1 
13 8 
Default 
1 
cccccccccccccccccccc
                    
                    
                    
                    
                    
                    
                    
                    
                    
