Defaults
1 
7 
0 
9 
4 
1 
10 1 
1 -1 
9 7 
 c   c       c      
   G                
  G g               
 G g                
G                   
 g                  
                    
                    
                    
                    
