2 
1000 
28 
16 
2 
11 4 
-1 1 
9 8 
Auto
1 
   ccc     ccc  cccc
                    
                    
                    
                    
                    
                    
                    
                    
                    
