sdoewsd
7 
30 
20 10 
ccccRcccrccccccccccc
         G          
           g        
                    
              B     
                    
      PPPP          
                    
                    
                    
