sdfpwe34k
7 
30 
20 10 
ccccCCCcrRRRcccccccc
                    
         GGG        
                    
       gggg         
                    
                    
                    
                    
                    
