privet
7 
30 
20 10 
cccc ccc ccccccccccc
                    
                    
                    
                    
                    
                    
                    
                    
                    
